<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <div text-center>
    <img src="../../assets/img/ping_logo_transparent.png"/>
    </div>

    <ion-buttons end>
      <button ion-button icon-only (click)="addItem()" *ngIf="hasPing; else elseBlock">
        <ion-icon name="radio-button-on"></ion-icon>
      </button>
    </ion-buttons>
    <ng-template #elseBlock>
      <ion-icon name="radio-button-off"></ion-icon>
    </ng-template>
  </ion-navbar>

</ion-header>

<ion-content [ngSwitch]="state">

  <ion-segment [(ngModel)]="state" color="primary">
      <ion-segment-button value="current">
        <ion-icon name="repeat"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="created">
        <ion-icon name="cloud-upload"></ion-icon>
      </ion-segment-button>
    </ion-segment>

  <div *ngSwitchCase="'current'">
  <ion-list>
    <ion-item-sliding *ngFor="let item of currentItems">
      <button ion-item (click)="openItem(item)">
        <ion-avatar item-start>
          <img [src]="item.profilePic" />
        </ion-avatar>
        <h2>{{item.name}}</h2>
        <p><ion-icon name="people"></ion-icon> {{item.numOfPingers}}</p>
        <p><ion-icon name="paper-plane"></ion-icon> {{item.distance}} miles</p>
        <ion-note item-end *ngIf="item.note">{{item.note}}</ion-note>
      </button>

      <ion-item-options>
        <button ion-button color="danger" (click)="deleteItem(item)">
          {{ 'DELETE_BUTTON' | translate }}
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  </div>

  <div *ngSwitchCase="'created'">
  <ion-list>
    <ion-item-sliding *ngFor="let item2 of createdItems">
      <button ion-item (click)="openItem(item2)">
        <ion-avatar item-start>
          <img [src]="item2.profilePic" />
        </ion-avatar>
        <h2>{{item2.name}}</h2>
        <p><ion-icon name="people"></ion-icon> {{item2.numOfPingers}}</p>
        <p><ion-icon name="paper-plane"></ion-icon> {{item2.distance}} miles</p>
        <ion-note item-end *ngIf="item2.note">{{item2.note}}</ion-note>
      </button>

      <ion-item-options>
        <button ion-button color="danger" (click)="deleteItem(item2)">
          {{ 'DELETE_BUTTON' | translate }}
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  </div>

</ion-content>